.w-100 {
	width: 100%;
}

.notification,
.job-add {
	margin-top: 10px;
	background-color: black;
	color: white;
	width: fit-content;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 16px;
}

.action-container {
	display: flex;
	margin-top: 10px;
	.action-input {
		flex: 1;
		border: 1px solid black;
		border-radius: 8px;
		padding: 10px;
	}
	.action-handler-container {
		display: flex;
		align-items: center;
	}
}

.button-close {
	font-size: 19px;
	margin-left: 15px;
	cursor: pointer;
	&:hover {
		color: red;
	}
}

.button-add {
	font-size: 19px;
	margin-left: 15px;
	cursor: pointer;
	&:hover {
		color: green;
	}
}

.job-element {
	width: 100%;
	margin-bottom: 10px;
	padding: 5px 0px;
	&:hover {
		background-color: #cbcbcb;
		border-radius: 10px;
	}
	.job-label {
		padding-left: 5px;
		width: 100%;
		cursor: pointer;
	}
}

.job-container {
	font-size: 18px;
	font-weight: 600;
}

.job-checkbox {
	margin-right: 10px !important;
	width: 1rem;
}

.assign-wrapper {
	align-items: center;
}

.assign {
	justify-content: space-between;
	font-weight: 800;
	margin-top: 12px;
	margin-bottom: 4px;
}

.assign-label {
	margin-right: 0.5rem;
}

.margin-right {
	margin-right: 1rem;
}

.create-btn {
	font-weight: 500;
	height: 2.2rem;
	width: 8rem;
}

.description {
	border-radius: 5px;
}

.img-sizing {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.user-assign {
	border-radius: 50%;
	justify-content: center;
	display: flex;
	align-items: center;
	min-width: 1.75rem;
	height: 1.75rem;
	&:hover {
		cursor: pointer;
		background-color: hsla(228, 48%, 8%, 0.1);
	}
}

.assignee-img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
}

.comment {
	flex: 1;
	margin-left: 13px;
}

.mg-bottom-10px {
	margin-bottom: 10px;
}

.hour {
	font-size: 12px;
}

.task-title {
	justify-content: space-between;
	width: 100%;
}

.title {
	width: 100%;
}

.task-date {
	font-size: 11px;
	opacity: 0.8;
	font-weight: 700;
}

.task-date-value {
	font-weight: 700;
}

.my-badge {
	width: fit-content;
}

.hover {
	cursor: pointer;
	font-size: 20px;
	&:hover {
		color: rgb(231, 106, 106);
	}
}
