.hold {
	background: #5b7dff;
}

.completed {
	background: #80e580;
}

.in-progress {
	background: #ffbd44;
}

.upcoming {
	background: #1ce5f1;
}

.card-label {
	width: fit-content;
	color: white;
	padding: 6px;
	font-weight: 600;
}
